body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #E5E5E5;
    overflow: hidden;
}
header{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
header img{
    height: 53px;
    width: 75px;
    margin-left: 22px;
}
header ion-icon{
    font-size: 45px;
    margin-right: 21px;
}
main{
    height: 100vh;
    margin-bottom: 80px;
    margin-top: 106px;
}
article{
    margin-bottom: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.mensagem{
    background: #FFFFFF;
    border-radius: 2px;
}
.mensagem-reservada{
    background: #FFDEDE;
    border-radius: 2px;
}
.entrou-na-sala{
    background: #DCDCDC;
    border-radius: 2px;
}
p{
    font-size: 14px;
    margin-left: 8px;
    margin-right: 9px;
}
strong{
    font-weight: 700;
}
em{
    color: #aaaaaa;
}
footer{
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 80px;
    margin-top: 80px;
    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}
footer input{
    display: flex;
    align-items: center;
    margin-left: 17px;
    border: none;
}
footer input::placeholder:-ms-input-placeholder::-ms-input-placeholder{
    font-style: italic;
    color: #000000;
    font-size: 18px;
    border: none;
}

footer ion-icon{
    font-size: 26px;
    margin-right: 18px;
}
aside{
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 1000vh;
    width: 1000vw;
    background-color: white;
}
aside img{
    position: absolute;
    left: 122px;
    top: 72px;
    width: 130px;
    height: 92px;
}
aside input{
    position: absolute;
    display: flex;
    left: 57px;
    top: 258px;
    width: 261px;
    height: 54px;
    background: #FFFFFF;
    border: 1px solid #D7D7D7;
    box-sizing: border-box;
    border-radius: 4px;
}
button{
    position: absolute;
    left: 133px;
    top: 327px;
    width: 109px;
    height: 45px;
    font-size: 18px;
    line-height: 25px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: #696969;

    background: #E7E7E7;
    border-radius: 9px;
    border: none;
}
aside input::placeholder::-ms-input-placeholder:-ms-input-placeholder{
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0em;


    color: #AEAEAE;
}
.none{
    display: none;
}